/*download*/
.content_fix .live_l{
	min-width : 0;
	width: 75%;	
}

.lastest_page .f_l_fix{
	width: 12%;
}

.live_r .live_r_tit{
	display: none;
}

.fileID_two{
	word-break: break-all;
}

.lastest_page .content_fix{
	margin-left: 14%;
}









