.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
    outline:none;
}
.video-js .vjs-time-control{display:block;}
.video-js .vjs-remaining-time{display: none;}
.video-js.vjs-playing .vjs-tech {
    pointer-events: auto;
}

.live_point {
	position: absolute;
	top: 54px;
	left: 4.5%;
	font-size: 22px;
	font-weight: bold;
	color: red;
	display: none;
}
