.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}
.video-js .vjs-time-control{
	display:table-cell;
	width: 10px \9\0;
}
.video-js .vjs-remaining-time{display: none;}
.video-js.vjs-playing .vjs-tech {
    pointer-events: auto;
}
